
header {
	display: flex;
	justify-content: center;
}
body {
	padding: 20px 75px;
}
* {
	font-family: Arial, Helvetica, sans-serif;
}
ul li a, ul li {
	text-decoration: none;
	list-style-type: none;
}

.recipes-search, .recipes-filters {
	margin: 20px 0;
}

/* head */
.recipes-head {
    
}

/* search-bar */
.recipes-search {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.recipes-search svg {
	width: 23px;
}
#search-input {
	height: 55px;
	font-size: 1em;
	border-radius: .3em;
	padding: 0 50px 0 20px;
	background-color: rgba(128, 128, 128, 0.1);
	border: none;
	width: 100%;
}
#search-label {
	position: absolute;
	right: 15px;
}

/* tags */
.ingredients-tags, .utensils-tags, .appliances-tags, .recipes-tags {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.tag-item {
	margin-right: 15px;
	padding: 10px 15px;
	border-radius: .5em;
	color: #ffff;
	margin: 5px 7px;
}
.tag-item i {
	color: white;
}
.appliance-tag-item {
	background-color: rgb(140, 219, 127);
}
.ingredient-tag-item {
	background-color: rgb(21, 124, 209);
}	
.utensil-tag-item {
	background-color: rgb(235, 83, 83);
}

/* filters */
.recipes-filters {
	display: flex;
}

/* filter */
.recipes-filter {
	position: relative;
	display: flex;
	align-items: center;
	position: relative;
	margin-right: 15px;
}
.recipes-filter svg {
	width: 15px;
	fill: #ffff;
}
.recipes-filter ::placeholder {
	color: #ffff;
}
.recipes-filter label {
	position: absolute;
	right: 13px;
}
#ingredient-filter input {
	background-color: rgb(21, 124, 209);
}
#appliance-filter input {
	background-color: rgb(140, 219, 127);
}
#utensil-filter input {
	background-color: rgb(235, 83, 83);
}
.filter-modal-active {
	display: flex!important;
}
.filter-input-active {
	width: 410px!important;
}
.filter-input {
	font-size: 1em;
	padding: 15px 35px 15px 15px;
	width: 180px;
	height: 25px;
	border: none;
	border-radius: .2em;
	color: #ffff;
}
.filter-input:focus {
	outline: none;
}
.filter-modal {
	position: absolute;
	top: 53px;
	width: 100%;
}
.filter-modal ul {
	margin: 0;
	padding: 0;
	height: 400px;
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	list-style-type: none;
	overflow: hidden;
}
.filter-modal li {
	margin: 6px 10px;
}
.filter-modal li a {
	color: #ffff;
}
.filter-modal li a:hover {
	opacity: .85;
}
.utensil-filter-modal {
	background-color: rgb(235, 83, 83);
}
.appliance-filter-modal {
	background-color: rgb(140, 219, 127);
}
.ingredient-filter-modal {
	background-color: rgb(21, 124, 209);
}

/* items */
.recipes-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* item */
.recipes-item {
	width: 30%;
	height: 475px;
	margin: 20px 20px 20px 0;
}
.recipes-item-top {
	background-color: rgb(192, 181, 181);
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	height: 50%;
}
.recipes-item-bottom {
	display: flex;
	flex-direction: column;
	border-end-start-radius: .5em;
	border-end-end-radius: .5em;
	height: 50%;
	background-color: rgb(224, 224, 224);
	padding: 0 15px;
}
.recipes-item-ingredients {
	padding: 0;
}
.recipes-item-bottom div {
	display: flex;
	justify-content: space-between;
}
.recipes-item-ingredients, .recipes-item-description, .recipes-item-title, .recipes-item-time {
	width: 50%;
	margin: 0;
	padding: 0 8px;
}
.recipes-item-description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
}
.recipes-item-title, .recipes-item-time {
	padding: 15px 8px;
}
.recipes-item-time {
	text-align: right;
	vertical-align: center;
}
.recipes-item-time svg {
	width: 20px;
	margin-right: 2px;
}